* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  background: #fff;
}

.navbar {
  background: #222;
  padding: 0.5rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.nav__links {
  -ms-grid-row-align: center;
      align-self: center;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.nav__link {
  color: #ececec;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav__link:hover {
  color: #82b340;
}
